@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/toast.css';

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  :root {
    --primary: "#0D1C28";
    --secondary: "#173248";
    --tertiary: "#F5F9FC";
    --quaternary: "#418EC6";
  }

  body, html {
    @apply scroll-smooth;
  }

  body::-webkit-scrollbar, html::-webkit-scrollbar {
    @apply w-0 xs:w-4
  }

  ::-webkit-scrollbar {
    @apply w-[12px];
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }  
}

@layer components {
  .transitioning {
    @apply transition-all duration-100 ease-in-out;
  }

  .background-center {
    @apply bg-center bg-cover;
  }

  .image-center {
    @apply object-center object-cover;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .input-number-btn-none::-webkit-inner-spin-button,
  .input-number-btn-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}